[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Click = ">=6.0"
"ruamel.yaml" = "*"
docker = "*"
dockerpty = "*"
gitpython = "*"

[dev-packages]
pytest = "*"
gitpython = "*"
bumpversion = "*"
twine = "*"
pytest-cov = "*"
pycodestyle = "*"
mypy = "*"
